.itembox {
    display: inline-block;
    width: 172px;
    background: #7c3688;
    height: 221px;
    border-radius: 16px;
    padding: 7px;
    position: relative;
    margin-right: 5px;
}
.itemboxtitle {
    background: #488e4a;
    width: 80px;
    height: 80px;
    line-height: 7;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 3px solid white;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    left: -39px;
    top: 66px;
}
.itembox h1 {
    margin: 0px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 14px;
}
.itembox img {
    width: 82px;
    margin-top: 38px;
    margin-left: 44px;
}
.itembox p {
    margin: 0px;
    color: white;
    border-top: 1px solid white;
    text-align: center;
    padding-top: 17px;
    margin-top: 23px;
    font-size: 10px;
    font-weight: 500;
}