.screeningwrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.screeningwrapper p {
    text-align: justify;
}
.screeningwrapper .starttestbtn {
    float: right;
    margin-top: -28px;
    background: #4ABFEF;
    width: 245px;
    height: 53px;
    font-size: 23px;
}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
}