.eittestwrapper h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.eittestwrapper p {
    text-align: justify;
}
.eittestwrapper .starttestbtn {
    float: right;
    margin-top: -28px;
    background: #4ABFEF;
    width: 245px;
    height: 53px;
    font-size: 23px;
}