.screeningawrapper {
    max-width: 100%;
    width: 100%;
    border-left: 6px solid #0E4C92;
    /* background: #C7E9F6; */
}
.screeningawrapper h2 {
    margin-top: 0px;
    font-size: 25px;
    padding-left: 13px;
}
.screeningawrapper p {
    text-align: justify;
}
.screeningawrapper .starttestbtn {
    float: right;
    margin-top: -28px;
    background: #4ABFEF;
    width: 245px;
    height: 53px;
    font-size: 23px;
}
.titlewithicon {
    display: flex;
}
.titlewithicon span {
    padding-left: 13px;
}
.screeningaform {
    padding-left: 13px;
    width: 100%;
    display: contents;
}
.screeningafieldfull {
    width: 100%;
    margin-bottom: 7px !important;
}
.screeningwrapperpadding {
    padding-left: 13px;
}
.screeningasavebtn {
    font-size: 23px;
    width: 245px;
    height: 53px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}
.screeningaright {

}
.screeningaright img {
    max-width: 65%;
    margin: auto;
    display: block;
}
.screeningaright input {
    display: none;
}
.screeningaright .screeningimgupload {
    font-size: 10px;
    background: none;
    color: #3f51b5;
    box-shadow: none;
    display: block;
    text-align: center;
    margin-top: 13px;
}
.screeningaright .screeningimgupload:hover {
    background: none;
    box-shadow: none;
}
.screeningaright .screeningaprogress {
    padding: 13px;
    padding-bottom: 0px;
    margin-bottom: 7px;
}
.screeningaright .screeningaprogress h2 {
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.screeningaright .screeningaprogress span {
    color: #7195BF;
    font-size: 10px;
    float: right;
}