.dashboardtitle {
    text-align: center;
    font-family: monospace;
    font-size: 32px;
    border-bottom: 1px solid #00000042;
}
.MuiAppBar-root {
    background: white !important;
    color: #203240 !important;
}